version: "3.3"
services:
  app:
    image: trishul:${VERSION}
    container_name: trishulapp
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${APP_ADMIN_USER}
      SPRING_DATASOURCE_PASSWORD: ${APP_ADMIN_USER_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      AWS_SECRETS_MANAGER_REGION: ${AWS_SECRETS_MANAGER_REGION}
      AWS_SECRETS_MANAGER_URL: ${AWS_SECRETS_MANAGER_URL}
      AWS_SECRETS_MANAGER_ACCESS_KEY_ID: ${AWS_SECRETS_MANAGER_ACCESS_KEY_ID}
      AWS_SECRETS_MANAGER_ACCESS_SECRET_KEY: ${AWS_SECRETS_MANAGER_ACCESS_SECRET_KEY}
      JWT_ISSUER_URI: ${JWT_ISSUER_URI}
      JWK_SET_URI: ${JWK_SET_URI}
      AWS_COGNITO_REGION: ${AWS_COGNITO_REGION}
      AWS_COGNITO_URL: ${AWS_COGNITO_URL}
      AWS_COGNITO_USER_POOL_ID: ${AWS_COGNITO_USER_POOL_ID}
      AWS_COGNITO_ACCESS_KEY_ID: ${AWS_COGNITO_ACCESS_KEY_ID}
      AWS_COGNITO_SECRET_KEY: ${AWS_COGNITO_SECRET_KEY}
      AWS_S3_REGION: ${AWS_S3_REGION}
      AWS_S3_ACCESS_KEY_ID: ${AWS_S3_ACCESS_KEY_ID}
      AWS_S3_ACCESS_SECRET_KEY: ${AWS_S3_ACCESS_SECRET_KEY}
      AWS_IAM_ACCESS_KEY_ID: ${AWS_IAM_ACCESS_KEY_ID}
      AWS_IAM_ACCESS_SECRET_KEY: ${AWS_IAM_ACCESS_SECRET_KEY}
      AWS_DEPLOYMENT_ACCOUNT_ID: ${AWS_DEPLOYMENT_ACCOUNT_ID}
      AWS_DEPLOYMENT_PARTITION: ${AWS_DEPLOYMENT_PARTITION}
      AWS_COGNITO_IDENTITY_POOL_ID: ${AWS_COGNITO_IDENTITY_POOL_ID}
      AWS_COGNITO_USER_POOL_URL: ${AWS_COGNITO_USER_POOL_URL}
      APP_HOST_URLS: ${APP_HOST_URLS}